/* ================================================================*/
/*                        C S S   R E S E T
/* ================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }
  
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================*/
/*                           L O A D E R
/* ================================================================*/


.lds-default {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }

  .lds-default div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #353B48;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite; }

  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 29px;
    left: 53px; }

  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 18px;
    left: 50px; }

  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 9px;
    left: 41px; }

  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 6px;
    left: 29px; }

  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 9px;
    left: 18px; }

  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 18px;
    left: 9px; }

  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 29px;
    left: 6px; }

  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 41px;
    left: 9px; }

  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 50px;
    left: 18px; }

  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 53px;
    left: 29px; }

  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 50px;
    left: 41px; }

  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 41px;
    left: 50px; }

  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  
/* ================================================================*/
/*                           R I P P L E
/* ================================================================*/

  .ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0); }

  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s; }

  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s; }

/* ================================================================*/
/*                           C L A S S E S
/* ================================================================*/

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.centerX {
  left: 50%;
  position: relative;
  transform: translateX(-50%); }

.centerY {
  top: 50%;
  position: relative;
  transform: translateY(-50%); }

.hide {
  display: none !important; }

.icon-sm-25 {
  width: 25px; }

.icon-sm-28 {
  width: 28px; }

.icon-sm-30 {
  width: 30px; }

.disabled {
  color: grey !important;
  background-color: #ddd !important; }

/* ================================================================*/
/*                      G L O B A L   S T Y L E
/* ================================================================*/

* {
  user-select: none;
  box-sizing: border-box; }

html, body, main {
  width: 100%;
  height: 100%; }

html {
  background-color: #000; }

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif; }

main {
  background: transparent url("../images/bg-images/clear-day.jpg") no-repeat 100% 100%;
  background-size: cover; }

button {
  border: none;
  outline: none;
  background-color: transparent; }

.flex-container {
  width: 100%;
  display: flex;
  align-items: center; }

  .flex-container > * {
    /*display: flex;
    flex-shrink: 1;
    flex-basis: 0; */
    flex: 1 1 0; }

/* ================================================================*/
/*                        B T N   M E N U
/* ================================================================*/

#btn-open-menu {
  z-index: 1;
  top: 20px;
  right: 20px;
  padding: 10px;
  position: fixed; }

/* ================================================================*/
/*                       C U R R E N T   D A Y
/* ================================================================*/

#current-day {
  color: #fff;
  width: 100%;
  height: 60%;
  position: relative;
  padding: 80px 30px 20px 30px; }

.location-label {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
  letter-spacing: 1.3px; }

#temperature-summary {
  align-items: center; }

  #temperature-summary > div:nth-child(2) {
    text-align: center; }

#degrees-label {
  font-size: 60px;
  font-weight: 900; }

#summary-label {
  font-size: 30px; }

#humidity-wind {
  right: 0;
  bottom: 30px;
  position: absolute;
  text-align: center; }

  #humidity-wind > div img {
    top: -3px;
    position: relative;
    vertical-align: middle; }

  #humidity-wind > div span {
    font-size: 18px; }

/* ================================================================*/
/*                       L O W E R   P A N E L
/* ================================================================*/

.lower-panel {
  color: #fff;
  width: 100%;
  height: 40%;
  position: relative; }

.lower-panel-body {
  width: 100%;
  height: 100%;
  padding: 50px 25px;
  overflow-y: scroll; }

#btn-toggle {
  z-index: 3;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 100%;
  background-color: #353B48;
  transform: translate(-50%, -50%);
  box-shadow: 3px 0 14px 2px rgba(0,0,0, .4); }
  
  #btn-toggle img {
    transition: transform .5s; }

.weather-box {
  position: relative;
  margin-bottom: 15px; }

  .weather-box > div:last-child {
    text-align: right; }

    .weather-box > div:last-child > div:last-child {
      flex: .5 .5 0; }

.current-day::before {
  left: -15px;
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 100%;
  top: calc(50% -5px);
  background-color: #353B48; }

/* ================================================================*/
/*                       D A I L Y   W E A T H E R
/* ================================================================*/

#daily-weather-wrapper {
  transition: opacity .5s;
  background-color: rgba(0,0,0, .6); }

/* ================================================================*/
/*                       H O U R L Y   W E A T H E R
/* ================================================================*/

#hourly-weather-wrapper {
  height: 40%;
  bottom: -100%;
  color: #353B48;
  position: fixed;
  transition: bottom .5s;
  background-color: rgba(236,240,241, .6); }

  #hourly-weather-wrapper > div > div:last-child {
    color: #636E72; }

/* ================================================================*/
/*                             M E N U
/* ================================================================*/

#menu-container {
  top: 0;
  right: -65%;
  z-index: 4;
  width: 65%;
  height: 100%;
  color: #fff;
  position: fixed;
  transition: right .5s; }

  #btn-close-menu {
    right: 0;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    position: absolute; }

  #menu-container > div {
    width: 100%;
    height: 100%;
    background-color: rgba(53,59,72, .9); }

    #add-location-wrapper {
      width: 100%;
      height: 50%;
      text-align: center;
      padding: 60px 20px 0 20px; }
    
      #location-input {
        width: 100%;
        color: #fff;
        border: none;
        outline: none;
        padding-bottom: 5px;
        letter-spacing: 1.2px;
        background-color: transparent;
        border-bottom: 2px solid #EE5253; }

      #location-input::-webkit-input-placeholder {
        color: #acacac; }

      #location-input::-moz-input-placeholder {
        color: #acacac; }

      #location-input::-o-input-placeholder {
        color: #acacac; }

      #btn-add-city {
        color: #fff;
        font-size: 16px; 
        padding: 7px 12px;
        margin: 20px 0 60px 0;
        letter-spacing: 1.1px;
        background-color: #EE5253; }

        #add-location-wrapper .location-label {
          font-size: 26px; }

#saved-cities-wrapper {
  width: 100%;
  height: 50%;
  font-size: 18px;
  overflow-y: scroll;
  padding: 10px 20px; }

  .saved-city-box {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid #7F8c80; }

    .saved-city-box > div:first-child {
      flex: 5 5 0; }

    .saved-city-box > div:last-child {
      text-align: right; }

  .remove-saved-city {
    color: #EE5253;
    border-radius: 100%;
    border: 2px solid #EE5253; }